# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Virtual environments (uv / venv / conda-style)
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
**/.venv/

# VS Code
.vscode/

# System + IDE
.DS_Store
Thumbs.db
.spyderproject
.spyproject
.ropeproject

# mkdocs
/site

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython debug symbols
cython_debug/

# PEP 582
__pypackages__/

# PDM
.pdm.toml

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# PyCharm
# Uncomment to ignore PyCharm settings
#.idea/

# Exclude module-specific binaries
module-3/mc.exe
module-3/minio.exe
